<!DOCTYPE html>
<html>
<head>
	<title>firnds</title>
</head>
<body style="text-align: center;">
	<a href="/main_page">Home</a>
	<div style="border: 1px solid black;background-color: grey">
		<img src="{{d.first_name}}" width="20%" height="20%"><h1>{{d.username}}</h1>
		<h1>{{d.email}}</h1>
		<h1>{{d.last_name}}</h1>
	</div>
	{% if ans == 'True' %}
	<h1>Friend</h1>
	{% for i in p1 %}
		
	<div style="border: 1px solid black">
	<h3>{{i.desc}}</h3>
	<h3>By:-{{i.name.username}}</h3>
	<img src="/media/{{i.user_img}}">
	<h2>likes={{i.total_likes}}</h2>
	<button><a href="/add_like_p1/{{i.id}}">Like</a></button>
	</div>
	{% endfor %}
	{% else %}
	<a href="http://127.0.0.1:8000/add_friend?id={{d.id}}">Add friend</a>

	{% endif %}
</body>
</html>